html{
    font-size:16px;
}

@media only screen and (min-width:360px) {
    .newsletter{
        font-size:1.2rem;
    }
    .trial{
       padding-top:30%;
    }
     .talking-points-headers{
        text-align:center;
    }
    .icon{
        visibility: hidden;
    }
    
}
@media only screen and (min-width:500px){
    .trial{
        padding-top:15%;
    }
    .newsletter{
        font-size:2rem;
    }
    .talking-points-headers{
        text-align:center;
    }
    .icon{
        visibility: hidden;
    }
}

@media only screen and (min-width:600px){
    .trial{
        padding-top:10%;
    }
    
}
@media only screen and (min-width:765px){
    .talking-points-headers{
        text-align:left;
    }
    .ttp-row{
        padding-bottom:4%;
    }
   
}
@media only screen and (min-width:992px){
     .icon{
        visibility: visible;
        
    }
    .icon-container{
        padding-right:10%;
    }
}

@media only screen and (min-width:1400px){
    .trial{
        padding-top:5%;
    }
}





